.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.app__title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3rem;
}

.app__actions {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.app__button {
  padding: 1rem;
  outline: none;
  border-radius: 1rem;
  border: 2px solid #f5284c;
  cursor: pointer;
  transition: all 300ms;
  font-weight: bold;
  background: white;
}

.app__button:hover {
  background: #f5284c;
  color: white;
}